body{background-color:white}

.navigation{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: black;
   display: flex;
   flex-flow: row wrap;
}

.navigation li {
    float: left;
}

.navigation li a{
    display: block;
    color:rgb(148, 137, 137);
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    
}

.navigation li a:hover{
    background-color: rgba(56, 37, 231, 0.826);
}
